body {
  background-color: #82b2ff;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin-right: 20px;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-size: 1.5rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
}

nav {
  display: flex;
  align-items: center;
}
header {
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

img {
  width: 75%;
  place-self: center;
}

.fside-foto {
  margin-left: 13%;
}

.port-pic {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid1 {
  display: grid;
}
.om-pic {
  grid-column: 1/2;
  grid-row: 1/2;
  color: #000;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.read {
  place-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
  color: #000;
  font-size: 3vw;
  background-color: #82b2ff;
  text-decoration: none;
  border-radius: 5em;
  padding: 0.1em 0.5em;
}
a:visited {
  color: #000;
}
a:hover {
  color: #9000ff;
}

.om-link {
  place-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
  color: #9000ff;
  margin-bottom: 5rem;
}
.he-pic {
  grid-column: 1/2;
  grid-row: 1/2;
}
.he-link {
  place-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
  color: #000;
  font-size: 3vw;
  background-color: #82b2ff;
  text-decoration: none;
  border-radius: 5em;
  padding: 0.1em 0.5em;
}
.t2-pic {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 5rem;
}
.t2-link {
  place-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
  color: #000;
  font-size: 3vw;
  background-color: #82b2ff;
  text-decoration: none;
  border-radius: 5em;
  padding: 0.1em 0.5em;
}
.t3-pic {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 5rem;
}
.t3-link {
  place-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
  color: #000;
  font-size: 3vw;
  background-color: #82b2ff;
  text-decoration: none;
  border-radius: 5em;
  padding: 0.1em 0.5em;
}
.t4-pic {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

button {
  place-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
  color: #000;
  font-size: 3vw;
  background-color: #1ec3be;
  text-decoration: none;
  border-radius: 5em;
  padding: 0.1em 0.5em;
}
button:hover {
  color: #9000ff;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  width: 63%;
}

header {
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #82b2ff;
}

.port-foto {
  margin-left: 13%;
}
.t4-pic {
  margin-left: 13;
}
.om-foto {
  margin-left: 13%;
}
@media (width > 600px) {
  p {
    padding: 20px 0px 20px 0px;
    width: 800px;
  }
}
